<div class="inbox-body">

  <div class="heading-inbox row">
    <div class="col-md-12">
      <h4 class="title"> {{mail.get("subject")}}</h4>
    </div>
  </div>

  <div class="sender-info">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="pull-left">
          <a class="avatar">
            <span class="bg-success">{{mail.get("from").get("firstName") | slice:0:1}}{{mail.get("from").get("lastName") | slice:0:1}}</span>
          </a>
        </div>
        <div class="s-info" *ngIf="currentUser.id !== mail.get('from').id; else s">
          <strong>{{mail.get("from").get("firstName")}} {{mail.get("from").get("lastName")}}</strong>
          <span>[{{mail.get("from").get("email")}}]</span>
        </div>

        <ng-template #s>
          <div class="s-info">
            <strong>{{mail.get("to").get("firstName")}} {{mail.get("to").get("lastName")}}</strong>
            <span>[{{mail.get("to").get("email")}}]</span>
          </div>
        </ng-template>

      </div>
      <div class="col-md-6 col-xs-12">
        <div class="compose-btn pull-right">
          <a class="btn btn-sm btn-default" href="inbox-compose.html"><i class="fa fa-reply"></i> Reply</a>
          <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-default  btn-sm tooltips"><i class="fa fa-print"></i> </button>
          <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-default btn-sm tooltips"><i class="fa fa-trash-o"></i></button>
        </div>
        <p class="date pull-right"> {{getDateFormatted(mail.get("createdAt"))}} ({{getCreatedAt(mail.get("createdAt"))}}) </p>

      </div>
    </div>
  </div>

  <div class="view-mail" [innerHTML]="mail?.get('message')?.get('text')"></div>

  <div *ngIf="mail.get('message').get('attachment')" class="attachment-mail">
    <h5> Attachments </h5>
    <ul>
      <li>
        <a href="#" class="atch-thumb">
          <img src="../vendor/img/img-attachment.jpg">
        </a>

        <div class="file-name">
          <i class="fa fa-download"></i> Wordflow_Diagram.jpg
        </div>
      </li>

      <li>
        <a href="#" class="atch-thumb">
          <img src="../vendor/img/pdf-attachment.jpg">
        </a>

        <div class="file-name">
          <i class="fa fa-download"></i> pdf-file.jpg
        </div>
      </li>
      <li>
        <a href="#" class="atch-thumb">
          <img src="../vendor/img/pdf-attachment.jpg">
        </a>

        <div class="file-name">
          <i class="fa fa-download"></i> Diagram.jpg
        </div>
      </li>

    </ul>
  </div>

  <ng-container *ngIf="currentUser.id !== mail.get('from').id">
    <div class="reply-mail m-b-20">
      <form #f="ngForm">
        <textarea class="form-control" name="replyText" id="message" cols="30" rows="5" [(ngModel)]="replyText" #r="ngModel" required>Reply</textarea>
      </form>
    </div>
    <div class="compose-btn pull-right">
      <button [disabled]="!f.valid"  (click)="onReply()" class="btn  btn-success"> Reply Mail</button>
    </div>
  </ng-container>

</div>