<div class="page-head"></div>
<div class="wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <header class="panel-heading">
          Children
        </header>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of children; let i = index">
                <td>{{i + 1}}</td>
                <td class="text-capitalize">{{user.firstName}} {{user.lastName}}</td>
                <td>
                  <a [routerLink]="['/user', user.objectId]" class="btn btn-sm btn-success">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
