<div class="panel">
  <header class="panel-heading">
    List Of Classes
  </header>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Class
          </th>
          <th>
            Number of students
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of classes">
          <td>{{c.get("commonName")}}</td>
          <td>{{c.get("students")?.length}}</td>
          <td>
            <a [routerLink]="['/class',c.id]">View</a>
          </td>
          <td>
            <button (click)="remove(c)" class="btn btn-sm btn-danger">Remove Class</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
