<div class="page-head"></div>
<div class="wrapper">
  <div class="row">
    <div class="col-md-8">
      <div class="panel">
        <header class="panel-heading">
          Events
          <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh"></a>
          </span>
        </header>
        <div class="panel-body">
          <sp-full-calendar [options]="events | async"></sp-full-calendar>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="slick-carousal">
          <div class="overlay-c-bg"></div>
          <news-widget id="news-feed">
            <div class="item" *ngFor="let item of news">
              <h3 class="text-success">News</h3>
              <span class="date">{{item.date}}</span>
              <h1>{{item.text | slice:0:140}}</h1>
              <div class="text-center">
                <a [routerLink]="['/news', item.objectId]" class="view-all">
                  Read
                </a>
              </div>
            </div>
          </news-widget>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isSearching" [config]="{ show: true, backdrop: 'static' }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Search Results</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset [justified]="true">
          <tab heading="Students">Justified content</tab>
          <tab heading="Staff">Short Labeled Justified content</tab>
          <tab heading="Events">Long Labeled Justified content</tab>
        </tabset>
      </div>
    </div>
  </div>
</div>