<div [ngStyle]="{'background': background}" class="profile-hero">
  <div class="profile-intro">
    <app-gravatar [user]="user" [width]="70"></app-gravatar>
    <h1>{{user.get("firstName")}} {{user.get("lastName")}}</h1>
    <span *ngIf="user.has('school')">{{user.get("school").get("commonName")}}</span>
  </div>
  <div class="profile-follow">
    <ng-container *ngIf="error.report?.code != 404; else create">
      <a *ngIf="isAdminOrTeacher && user.get('role') == 'user' " class="btn btn-success" (click)="showModal()"> <i class="fa fa-plus"></i> Add Report</a>
    </ng-container>
    <ng-template #create>
      <a *ngIf="isAdminOrTeacher && user.get('role') == 'user' " class="btn btn-info" (click)="createReport()"> <i class="fa fa-plus"></i> Create Report</a>
    </ng-template>
    <!--<a href="#" class="btn btn-default"> <i class="fa fa-check"></i> Follow me</a>-->
    <a *ngIf="!currentUser" href="#" class="btn btn-default"> <i class="fa fa-comment"></i> Message</a>
  </div>
</div>

<div class="wrapper no-pad">
  <div class="profile-desk">
    <aside class="p-aside">
      <div class="row">
        <div *ngIf="user.get('role') == 'user'" class="col-md-12">
          <div class="panel">
            <header class="panel-heading">
              Results
            </header>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>CA Test</th>
                    <th>Exam</th>
                    <th>Grade</th>
                  </tr>
                </thead>
                <tbody [formGroup]="editScoreGroup">
                  <ng-container *ngFor="let result of results; let i = index;">
                    <tr>
                      <td>{{i + 1}}</td>
                      <td>{{result.get("subject").get("title")}}</td>
                      <ng-container *ngIf="i != editPosition; else e">
                        <td>{{result.get("caScore")}}</td>
                        <td>{{result.get("examScore")}}</td>
                      </ng-container>
                      <ng-template #e>
                        <td><input type="number" name="caScore" formControlName="caScore"></td>
                        <td><input type="number" name="examScore"  formControlName="examScore"></td>
                      </ng-template>
                      <td>
                        {{getGrade(result.get("caScore") + result.get("examScore"), result.has("examScore"))}}
                      </td>
                      <ng-container *ngIf="isAdminOrTeacher">
                        <td>
                          <a (click)="editScore(i)" class="btn btn-sm">edit</a>
                        </td>
                        <td *ngIf="i == editPosition">
                          <button [disabled]="isUpdating" (click)="finishEdit(i)" class="btn btn-success btn-xs">done</button>
                          <button *ngIf="!isUpdating" (click)="cancelEdit(i)" class="btn btn-danger btn-xs">cancel</button>
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <aside class="p-short-info">
      <sp-userbox *ngIf="user.get('role') == 'parent' || user.get('role') == 'user'" [config]="userboxConfig"></sp-userbox>
      <sp-userbox *ngIf="user.get('role') == 'parent' || user.get('role') == 'user'" [config]="staffboxConfig"></sp-userbox>
      <div class="widget">
        <div class="title">
          <h1>About</h1>
        </div>
        <div class="bio-row">
          <p><span>Gender </span> {{user.get("sex")}} </p>
        </div>
      </div>
    </aside>
  </div>
</div>

<div *ngIf="isModalShown" [config]="{ show: true, backdrop: 'static' }" (onHidden)="onHidden()" bsModal #reportModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Report</h4>
        <button type="button" class="close pull-right" aria-label="Close" [disabled]="isLoading" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form role="form" name="subject" [formGroup]="subjectForm" novalidate>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Subject</label>
                  <div class="col-lg-10">
                    <input formControlName="topic" [(ngModel)]="asyncSelected" [typeahead]="dataSource" typeaheadOptionsLimit="7" typeaheadMinLength="0"
                      typeaheadOptionField="title" placeholder="Choose a subject" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label col-lg-2">CA Score</label>
                  <div class="col-lg-10">
                    <input formControlName="caScore" name="ca" type="number" class="form-control m-b-10">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-2 control-label col-lg-2">Exam Score</label>
                  <div class="col-lg-10">
                    <input formControlName="examScore" type="number" class="form-control m-b-10">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" [disabled]="isLoading" (click)="hideModal()">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-info" (click)="onSubmit()" [disabled]="!subjectForm.valid || isLoading">Submit</button>
      </div>
    </div>
  </div>
</div>