<td class="inbox-small-cells">
  <label class="checkbox-custom check-success">
      <input type="checkbox" value="c1" id="c1"> <label for="c1"> </label>
  </label>
</td>
<!--<td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>-->
<ng-container *ngIf="currentUser.objectId !== mail.from.objectId; else s">
  <td>
    <a href="#" class="avatar">
      <span class="bg-success">{{mail.from.firstName | slice:0:1}} {{mail.from.lastName | slice:0:1}}</span>
    </a>
  </td>
  <td class="view-message  dont-show" >{{mail.from.firstName}} {{mail.from.lasstName}}</td>
</ng-container>
<ng-template #s>
  <td>
    <a href="#" class="avatar">
      <span class="bg-success">{{mail.to.firstName | slice:0:1}} {{mail.to.lastName | slice:0:1}}</span>
    </a>
  </td>
  <td class="view-message  dont-show">{{mail.to.firstName}} {{mail.to.lasstName}}</td>
</ng-template>
<td class="view-message ">{{mail.subject}}</td>
<td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
<td class="view-message  text-right">{{getCreatedAt(mail.createdAt)}}</td>