ul.child-list>a {
  color: #fff;
  font-size: 13px;
  display: block;
  padding: 10px 5px 10px 50px;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}